aot_test/*_src.cpp
aot_test/*_src.hpp
aot_test/*.ro
aot_test/*.so
aot_test/mvrnn
aot_test/birnn
aot_test/drnn
aot_test/treelstm
aot_test/lstm_cell
aot_test/graph_gen
aot_test/bertxit

aot_test/mvrnn_small
aot_test/birnn_small
aot_test/drnn_small
aot_test/treelstm_small
aot_test/lstm_cell_small
aot_test/graph_gen_small
aot_test/bertxit_small

aot_test/mvrnn_large
aot_test/birnn_large
aot_test/drnn_large
aot_test/treelstm_large
aot_test/lstm_cell_large
aot_test/graph_gen_large
aot_test/bertxit_large
aot_test/dump*
